$color-text: #5E6282;
$nav-menu-color-text:#212832; 

body {
    padding: 0px;
    margin: 0px;
    color: 000;
}

.container {
    width: 1160px;
    margin: 0 auto;
}
ul li {
    display: block;
    margin: 0px;
    padding: 0px;
}
.header {
    background: url('../img/Decore.png') no-repeat right top;
}
.menu {
    display: flex;
    margin-left: auto;
    li a {
        margin-right: 55px;
        font-size: 17px;
        font-family: 'Open Sans', Medium;
        color: $nav-menu-color-text;
    }
}

.signup {
    font-size: 17px;
    font-family: 'Open Sans', Medium;
    color: $nav-menu-color-text;
    background: none;
    border: 1px solid $nav-menu-color-text;
    border-radius: 5px;
    margin-right: 42px;
    padding:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        background: #F1A501;
    }
}
.languages {
    font-size: 17px;
    font-family: 'Open Sans', Medium;
    color: $nav-menu-color-text;
    border: none;
    background: none;
    &:focus {
        outline: none;
    }
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 18px;
}

.hero-content {
    width: 1182px;
    height: 764px;
    display: flex;
}
.desc {
    width: 630px;
    height: 535px;
    margin: 0px;
    padding: 0px;
    padding-top: 112px;

}
.best-destination {
    text-transform: uppercase;
    font-family: 'Poppins', Bold;
    font-size: 20px;
    color: #DF6951;
}
.desc-travel-div {
    width: 545px;
    height: 300px;
}
.desc-travel {
    position: absolute;
    font-size: 84px;
    margin:0px;
    padding: 0px;
    font-family: 'Volkhov', Bold;
    color: #181E4B;
    z-index: 1;
    background: url(../img/Decore\text.png) no-repeat right 50px;
}
.desc-desc {
    font-family: 'Poppins', Medium;
    font-size: 16px;
    color: $color-text;

}
.desc-buttons {
    margin-top: 34px;
    display: flex;
    align-items: center;
}
.desc-first-button {
    background: #F1A501;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', Medium;
    font-size: 18px;
    border: 0px;
    padding: 10px;
    margin-right: 44px;
    &:hover {
        background: #af7801; 
    }
}

.desc-play-button {
    height: 52px;
    width: 52px;
    background: #DF6951;
    border-radius: 50px;
}
.play-button {
    margin: 0 auto;
    top: 20%;
    position: relative;  
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.0em 0 1.0em 1.5em;
    border-color: transparent transparent transparent #FFF;
}
.play-demo {
    font-size: 17px;
    font-family: 'Poppins', Medium;
    color: #686D77;
    margin-left: 21px;
}
.header-about {
    width: 1228px;
    height: 525px;
    text-align: center;
    background: url(../img/pros.png) no-repeat top right;
    margin: 0 auto;
    padding-inline-start: 0px;
}
.category {
    text-transform: uppercase;
    font-size: 18px;
    color: $color-text;
    font-family: 'Poppins', SemiBold;
    margin-bottom: auto;
}
.offer-services {
    font-size:50px;
    font-family: 'Volkhov', Bold;
    top: auto;
    margin-top: auto;
}
.services {
    display: flex;
    align-items: center;
    padding-inline-start: 0px;

    li h1 {
        font-family: 'Open Sans', Semibold;
        font-size:20px;
        color: #1E1D4C;
        z-index: 1;
    }
    li {
        position: relative;
        height: 227px;
        width: 190px;
        align-items: center;
        margin-right: 110px;
    }
    li p {
        font-family: 'Poppins', Medium;
        font-size:16px;
        color: $color-text;
        padding-left: 42px;
        padding-right: 42px;
        z-index: 1;
    }
    img {
        padding-top: 40px;
        padding-bottom: 30px;
        z-index: 1;
    }
}
.rectangle-local-events {
    width: 183px;
    height: 278px;
}
img.microphone {
    padding-top: 0px;
}
img.bolt {
    padding-top: 60px;
}

div.categories {
    background: white;
    width: 267px;
    height: 314px;
    border-radius: 36px;
    &:hover {
        animation: categories 1s alternate;
        animation-fill-mode: forwards;
    }   
}

@keyframes categories {
    0% {
        background: white;
    }
    100% {
        background: #808080;
    }
}

.logos {
    display: block;
    margin: 0 auto;
}
.subscribe-section {
    height: 407px;
    width: 1170px;
    background: url(../img/subscribe-bg.png) no-repeat center;
}
.subscribe-head {
    margin:auto;
    padding: 79px;
    text-align:center;
    font-size: 33px;
    font-family: 'Poppins', SemiBold;
    color: $color-text;
    width: 859px;
    height: 108px;
}
.box {
    display: block;
    text-align: center
}
.form-field {
    width: 421px;
    height: 68px;
    border: 2px solid white;
    border-radius: 10px;
    outline:none;
    font-size: medium;
    padding-left: 40px;
    background: url(../img/email.png) no-repeat 10px center, white;
    &:focus {
        animation: formfield 1s infinite alternate;
    }
}
@keyframes formfield {
    0% {
        border: 2px solid white;
    }
    100% {
        border: 2px solid #6246E5;
    }
}
.subscribe-button {
    margin-left: 24px;
    width: 180px;
    height: 68px;
    color: white;
    background: linear-gradient(#FF946D, #FF7D68);
    font-family: 'Poppins', Bold;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}
.footer{
    margin-top: 111px;
}
.logo-footer {
    width: 207px;
    height: 118px; 
    h1 {
        font-size: 44px;
        font-size: 'Poppins', Regular;
        color: #181E4B;
    }
    p {
        font-size: 13px;
        font-size: 'Poppins', Medium;
        color: $color-text;
    }

}
.nav-footer {
    display: flex;
    margin-left: 83px;
    h1 {
        font-size: 21px;
        font-family: 'Poppins', Bold;
        color: #080809;
    }
    a {
        text-decoration: none;
        font-size: 18px;
        font-family: 'Poppins', Medium;
        color: $color-text;
    }
    ul li {
        margin-right: 45px;
    }
}
footer .container {
    display: flex;
}
.outbound {
    display: block;
    text-align: center;
    width: 214px;
    height: 147px;
    margin-left: 82px;
    p {
        font-size: 20px;
        font-family: 'Poppins', Medium;
        color: $color-text;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    img {
        margin-top: 20px;
    }
}
.images-stores {
    display: flex;
}
.all-rights {
    display: block;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 84px;
    font-size: 14px;
    font-family: 'Poppins', Medium;
    color:  $color-text;
}
